@{
    Layout = "_LayoutLogin";
}

<div class="login-box">
    <h1>Bem-vindo</h1>
    <form method="post" asp-controller="Usuario" asp-action="ValidarLogin">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
        <a asp-action="Registrar" asp-controller="Usuario">Criar uma conta</a>
    </form>
</div>













@* @{
    Layout = "_LayoutLogin";
}
  <h2>Faça login</h2>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<form  class="login" method="post" asp-controller="Usuario" asp-action="ValidarLogin">
    <div class="col-md-6 justify-content-center">
        <label for="inputEmail4" class="form-label">Usuário</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" required>
        <label for="inputPassword4" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" name="senha" required>
    </div>

    <div class="d-flex justify-content-center btn-login">
        <button class="btn btn-primary" type="submit">Entrar</button>
        <a asp-action="Registrar" asp-controller="Usuario" class="btn btn-link">Cadastrar</a>
    </div>




    @if (!ViewData.ModelState.IsValid)
    {
        <div style="color: red;">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }
 </form>

 ______________________________________________________________________________*@


